body
{
    text-align: center;
}
h1
{
    color: yellowgreen;
}
img
{
padding: 5px;
border-style: solid;
width:20%;
height:350px;
}
hr
{
height:10px;
background-color:gray;
}
body{
text-align: center;
font-size: 18px;
}
.sp{
margin: 10px;
}
.di
{
margin:10px;
}
